.about_us_page_blue_background,.about_us_page_blue_background_2{
    width: 190%;
    height: 60%;
    margin-top: 12rem;
    z-index: -1;
    background-color: #DDF5FD;
    transform: skewY(20deg);
    position: absolute;
}
.about_us_page_blue_background_2{
    margin-top: 75rem;
    transform: skewY(-20deg);
}

.about_us_company_and_team_heading{
    text-align: center;
    font-size: 2.6rem;
    margin: 12rem 0 8rem 0;
    font-family: VisbyRound_Heavy;
}

.about_us_company_and_team_main_box{
    /* width: 89%; */
    width: 80%;
    margin: 3rem auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.about_us_company_and_team_box_1{
    width: 50%;
    padding: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.about_us_company_and_team_box_2{
    display: flex;
    /* border: 1px solid green; */
    width: 45%;
}
.about_us_company_and_team_box_2 img{
    width: 80%;
    margin: auto;
    border-radius: 10%;
    padding: .5rem;
}

.about_us_founders_heading{
    font-family: VisbyRound_Heavy;
    text-align: center;
    font-size: 2.6rem;
    margin: 12rem 0 6rem 0;
}

.about_us_founders_main_box{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.about_us_founders_box{
    width: 45%;
    padding: 3rem;
    position: relative;
}

.about_us_founders_box img{
    border-radius: 10%;
    position: relative;
    /* backdrop-filter: blur(3px); */
    /* -webkit-mask-image: linear-gradient(black, transparent); */
    /* mask-image: linear-gradient(rgb(210, 18, 18), red); */
}

.about_us_founders_box_image_text{
    position: absolute;
    bottom: 14%;
    left: 14%;
    font-size: 1.3rem;
}

@media only screen and (max-width:600px){

    .about_us_company_and_team_heading{
        margin: 8rem 0;
    }
    .about_us_company_and_team_main_box{
        flex-direction: column-reverse;
    }
    .about_us_company_and_team_box_1{
        width: 100%;
        text-align: center;
        padding: 4rem 0;
    }
    .about_us_company_and_team_box_2{
        /* border: 1px solid red; */
        width: 100%;
        padding: 0rem;
    }
    .about_us_company_and_team_box_2 img{
        padding: 0;
        width: 100%;
    }
}